# Google Sheets API credentials
GOOGLE_CLIENT_EMAIL=your-service-account-email@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour Private Key Here\n-----END PRIVATE KEY-----\n"

# Hoặc sử dụng đường dẫn đến file credentials
GOOGLE_APPLICATION_CREDENTIALS="./config/credentials.json"

# Thông tin từ file credentials của bạn
# GOOGLE_CLIENT_EMAIL=hocmai-1d38d@appspot.gserviceaccount.com
# GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCzXUB905rH7nvk\n... (private key của bạn) ..."\n"
# GOOGLE_APPLICATION_CREDENTIALS="c:/Users/Admin/Music/hocmai-1d38d-8ad98ddcadf6.json" 